:root {
    --colorBackground : #2f3d45a9;
    --colorPrimary: #da3939;
    --playerOne-color: rgb(0, 26, 255);
    --playerTwo-color: rgb(0, 255, 0);
    --transparent-background-color: var(--transparent-background-color);;
    --mainFont: 'Quantico', sans-serif;
}
* {
    user-select: none;
}

html, body, h1, h2, p, div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--mainFont);
    background: var(--colorBackground);
}

audio{
    display: none;
}

h1 {
    text-align: center;
}
label {
    display: none;
}

input, button {
    font-weight: 700;
    outline: none;
}

.gameSection:hover, .botaoIniciar, .pokeImg, .rulesButton, .exitButton {
    cursor: pointer;
}
.mainTitle {
    font-size: 2rem;
    color: var(--colorPrimary);
    text-transform: uppercase;
    z-index: 2;
}
.modal-container {
    display: flex;
    flex-direction:  column;
    width: 100%;
    height: 100%;
    background: var(--transparent-background-color);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-container.mostrar {
    display: flex;
    flex-direction: column;
}
.mostrar .modal {
    animation: modal .3s;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.input{
    font-size: 1rem;
    margin-top: 5px;
    width: 80%;
    height: 5vh;
    text-align: center;
    padding: 5px;
    background: var(--colorBackground);
    border: 4px solid var(--colorPrimary);
    color: var(--colorPrimary);
}
    .input::placeholder {
        color: var(--colorPrimary);
    }


@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, -60px, 0);
    }
}

.pokeSelectionContainer {
    display: flex;
    justify-content: space-around;
    width: 270px;
}

    hr {
        border: 1px solid var(--colorPrimary);
    }

    .pokeList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 180px;
        margin: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

        .chooseText {
            margin: 5px;
            margin-top: 5px;
            font-size: 1.50rem;
            color: var(--colorPrimary);
        }

        .pokeImg {
            width: 30px;
            height: 30px;
            
            background-color: var(--colorBackground);
            border: 4px solid var(--colorPrimary);
            padding: 2px;
            margin: 5px;
            border-radius: 10px;
        }

.player1, #playerOneAvatar {
    border: 4px solid rgb(0, 26, 255);
}

.player2, #playerTwoAvatar {
    border: 4px solid rgb(0, 255, 0);
}



.gameMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90vw;
    height: 94vh;
    
    border: 4px solid var(--colorPrimary);
    border-radius: 10px;
    box-shadow: inset 0 0 2em rgb(255, 38, 0), 0 0 4em rgb(26, 19, 19);

    background-image: url("../assets/img/wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.gameGrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 330px;
    height: 264px;
    display: none;    
}

.gameSection {
    position: relative;
    width: 40px;
    height: 100%;
    top: -266px;
    margin: 0;
    margin: 2px;
}


.playerScore {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--colorPrimary);
    text-align: center;
    width: 240px;
    height: 60px;
    background: var(--colorBackground);
    border: 2px solid var(--colorPrimary);
    border-radius: 10px;
    margin-bottom: 5px;
    display: none;
}

.emptyGrid {
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 10px;
    background: var(--colorBackground);
    border: 2px solid var(--colorPrimary);
}

.player1, .player2 {
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 10px;
    animation: quedaDisc 1s;
}
.backgroundGrids {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes quedaDisc {
    from {
        opacity: 0;
        transform: translate3d(0, -150px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

.buttonOrganizer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.botaoIniciar{
    width: 50%;
    height: 50px;
    margin: 10px;
    color: var(--colorPrimary);
    background-color: var(--colorBackground);
    font-size: 18px;
    border: 4px solid var(--colorPrimary);
    box-shadow: 0px 0px 5px var(--colorPrimary);
    border-radius: 20px;
    transition: 500ms;
    transition-delay: 100ms;
}

.rulesButton {
    width: 50%;
    margin: 10px;
    color: var(--colorPrimary);
    background-color: var(--colorBackground);
    font-size: 18px;
    border: 4px solid var(--colorPrimary);
    box-shadow: 0px 0px 5px var(--colorPrimary);
    border-radius: 20px;
    transition: 500ms;
    transition-delay: 100ms;
}

.rulesDiv {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    overflow: auto;

    font-family: var(--mainFont);
    border: 4px solid var(--colorPrimary);
    box-shadow: 0px 0px 5px var(--colorPrimary);
    background-color: #2f3d45;

    color: var(--colorPrimary);

    width: 260px;
    height: 320px;

    left: 50px;
    top: 26px;
    
    transition: 500ms;
    z-index: 2;
}
.exitButton {
    width: 50px;
    height: 30px;
    border: 4px solid var(--colorPrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorPrimary);
    border-radius: 20px;
    transition: 500ms;
    transition-delay: 100ms;
}
    .exitButton:hover, .rulesButton:hover, .botaoIniciar:hover {
        border-radius: 0px;
        background: #2f3d45;
        text-shadow: 0 0 10px var(--colorPrimary);
        transition: 500ms;
        transition-delay: 100ms;
    }

.winGif {
    width: 180px;
    border: 4px solid var(--colorPrimary);
    border-radius: 20%;
    z-index: 2;
}

.endBackground {
    position: absolute;
    width: 91%;
    height: 94%;
    background: #2f3d45;
    border-left: 4px solid var(--colorPrimary);
    border-right: 4px solid var(--colorPrimary);
    border-radius: 20px;
    box-shadow: inset 0 0 10px black;
    z-index: 1;
}

#restartButton {
    width: 220px;
    z-index: 2;
}
@media only screen and (min-width: 768px) {
    .input{
        width: 20vw;
    }
    .botaoIniciar{
        width: 10vw;
        padding: 15px 20px;
        height: fit-content;
    }
        
    .rulesButton {
        width: 10vw;
        padding: 15px 20px;
        height: fit-content;
    }

    .rulesDiv {    
        left: 120px;
        top: 50px;
    }
    
    .winGif {
        width: 240px;
    }

    .endBackground {
        width: 632px;
        height: 400px;
    }
}

